.places {
  text-align: center;
}

.places h1 {
  font-size: 30px;
  margin: 0.67em 0 0 0.67em;
  text-align: left;
}

.place_articles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
  min-height: 710px;
}

article h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  position: absolute;
  width: 60px;
  top: 2%;
  right: 5%;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  height: 100%;
  line-height: 140px;
}

.max_guest {
  background: url("/web_static/images/icon_group.png") 50% 10px no-repeat;
}

.number_rooms {
  background: url("/web_static/images/icon_bed.png") 50% 10px no-repeat;
}

.number_bathrooms {
  background: url("/web_static/images/icon_bath.png") 50% 10px no-repeat;
}

.user {
  text-align: left;
  margin: 20px 0;
}
.user span {
  font-weight: bold;
}

.description {
  text-align: left;
}

article .amenities,
article .reviews {
  margin-top: 40px;
  text-align: left;
}

article .amenities h2,
article .reviews h2 {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  text-align: left;
}

article .amenities ul,
li,
article .reviews ul,
li {
  list-style: none;
}
article .amenities li,
article .reviews li {
  margin-bottom: 10px;
}

article .amenities li {
  padding-left: 25px;
}

article .reviews h3 {
  font-size: 14px;
}
article .reviews p {
  font-size: 12px;
}

.tv {
  background: url("/web_static/images/icon_tv.png") 0 -2px/20px auto no-repeat;
}
.wifi {
  background: url("/web_static/images/icon_wifi.png") 0 -2px/20px auto no-repeat;
}
.pet {
  background: url("/web_static/images/icon_pets.png") 0 -2px/20px auto no-repeat;
}
